<ul class="breadcrumb">
  <li><a href="#" id="a_style">Admin Panel</a> <span class="divider">/</span></li>
    <li><a href="#" id="a_style">Dashboard</a> <span class="divider">/</span></li>
    <li class="active">Sizes</li>
</ul>
<div class="page-header">
  <h1>New Size <small>data entry form</small></h1>
</div>

<%= render 'form' %>

<%= link_to 'Back', sizes_path %>
