<ul class="breadcrumb">
  <li><a href="#" id="a_style">Admin Panel</a> <span class="divider">/</span></li>
    <li><a href="#" id="a_style">Dashboard</a> <span class="divider">/</span></li>
    <li class="active">Sizes</li>
</ul>
<h1 id="notice"><%= notice %></h1>

<div class="page-header">
  <h1>Size <small>details infomation</small></h1>
</div>

<p class="lead" id="showtxt">
  <strong>Size:</strong>
  <%= @size.size rescue "-" %>
</p>


<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
