<header>
  <div class="container clearfix">
    <div class="row">
          <div class="span12">
        <div class="navbar navbar_">
              <div class="container"> 
              <%= image_tag  "your_logo_here.png", :style => "postition:relative;top:50px;" %> 

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse_">Menu <span cartlass="icon-bar"></span> </a>
            <div class="nav-collapse nav-collapse_  collapse">
              <ul class="nav sf-menu">
                <li ><a href="/">Home</a></li>
                <li ><a class="sf-with-ul">Gallery</a>
                  <ul>
                    <li><a href="/art_gallery">Art Gallery</a></li><hr>
                    <li><a href="/photo_gallery">Photo Gallery</a></li>
                  </ul>
                </li>
                <li ><a href="/exhibition">Exhibitions</a></li>
                <li  class="sub-menu active"><a href="/terms_and_conditions">Terms and Conditions</a></li>
                <li ><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
            </div>
      </div>
        </div>
  </div>
    </header>

<div class="bg-content">       
  <div id="content">
    <div class="container">
      <div class="row">
        <article class="span8">

         <div class="inner-1">         
          <ul class="list-blog">
          <li>
          <h3>Terms And Conditions</h3><br/>
              <div id="cus_font">Payment</div>
              <p>If you order any artwork at Color Cube Gallery, we will contact you by messaging to confirm for the order. If you want to cancel your order, you must inform us when we contact. By ordering to Color Cube Gallery, you agrees to pay the sum of the artwork price together with delivery charges. Delivery charges will difference depending on your township, city or country. If your township is in Yangon, we will deliver your ordered artwork within two days and will take your payment with <font style="color:#e85356;">charge on delivery</font>. If not, we will take your payment by <font style="color:#e85356;">bank transfer</font> and we will deliver your ordered artwork to the nearest delivery service gate.</p>

              </li>
          </ul>
          </div>

         <div class="inner-1">         
          <ul class="list-blog">
          <li>
              <div id="cus_font">Refund Policy</div>
              <p>We want you to be satisfied with your purchases. In the case of damage in our transition, we accept returns for <font style="color:#e85356;">refund your payment or exchange the order item</font>. When we received your return, we will contact to confirm for your return. If sure, we will refund your payment within a few days. If you want to exchange your order item, you can exchange it with any other items sale at Color Cube Gallery.
              </p>
              </li>
          </ul>
          </div>


        </article>
        <article class="span4">
          <h3>Advertisements</h3>
            <div id="ads_photo"><img data-src="holder.js/370%x200" alt="..."></div>
            <div id="ads_photo"><img data-src="holder.js/370%x200" alt="..."></div>
          </div>
        </article>
      </div>
    </div>
  </div>
 </div>
